<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="com.ljn.netty3.tunnelserver.LocalEchoServerRegistration"
		class="com.ljn.netty3.tunnelserver.LocalEchoServerRegistration" 
		init-method="start" destroy-method="stop"
		/>

</beans>